.tracker {
    max-width: 1000px !important;
    width:1000px;
    padding:0px 20px;
}
.track-container{
    display: flex;
    justify-content: center;  
}
.title {
    display: flex;
    flex-direction: column;
}
.app-status{
    font-size: 17px;
    margin-bottom: 8px;
}
.card {
    margin: 20px 0px;
}

.card-bodyy {
    display: flex;
}

.a-date {
    font-size: 12px;
    font-weight: 400;
}

.status-icon {
    font-size: 20px;
    margin-right: 10px;
}
.com-info{
    padding:20px 0px
}
.p1,.p2{
    margin:0px;
    font-size: 16px;
    letter-spacing: .2px;
    color:rgb(116, 111, 111)

}
.cross{
    color:red;
    font-size: 15px;
}

.text{
    display: flex;
    justify-content: center;
}
.text h5{
    width:1000px;
    font-size: 35px;
    padding:20px 0 0 20px;
}
@media only screen and (max-width:500px) {
    .text h5{
        font-size: 25px;
        margin-bottom:5px ;
    }
}