.jobs-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.jobs-header{
    width:1000px;
    max-width: 1000px !important;
}
.card-container{
    margin-top: 20px;
}
.location,
.company {
    font-weight: 400 !important;
    line-height: 10px;
    letter-spacing: .2px;
}
.ms {
    color: rgb(129, 122, 122);
    margin-bottom: 3px;
}
.jobtype,
.salary,
.working-days {
    margin: 10px 20px 0px 0px;
    padding: 2px 20px;
    background-color: #e4f7e6;
    color: #1f662c;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}

.b-wrappr {
    display: flex;
    margin: 10px 0px;
    flex-wrap: wrap;
}
.skill {
    font-size: 15px;
}
.reccom-header{
    margin-top: 30px;
}
.text{
    display: flex;
    justify-content: center;
}
.text h5{
    width:1000px;
    font-size: 35px;
    padding:20px 0 0 20px
}
@media only screen and (max-width:786px) {
    .mb-1 {
        display: none;
    }
    .jobtype,
    .salary,
    .working-days {
        font-size: 12px !important;
        padding: 2px 10px;

    }
}
