.card-container {
    margin-top: 30px;
}

.rating {
    color: black;
    font-weight: 700;
}
.jobs-wrapper{
    display: flex;
    justify-content: center;
}
.h h2{
    margin-left: 10px;
}
.location,
.company {
    font-weight: 400 !important;
    line-height: 10px;
    letter-spacing: .2px;
}

.ms {
    color: rgb(129, 122, 122);
    margin-bottom: 3px;
}

.jobtype,
.salary,
.working-days {
    margin: 10px 20px 0px 0px;
    padding: 2px 20px;
    background-color: #e4f7e6;
    color: #1f662c;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}

.b-wrappr {
    display: flex;
    margin: 10px 0px;
    flex-wrap: wrap;
}

.money-icon {
    font-size: 20px;
}

.skill {
    font-size: 15px;
}

@media only screen and (max-width:786px) {
    .mb-1 {
        display: none;
    }
    .jobtype,
    .salary,
    .working-days {
        font-size: 12px !important;
        padding: 2px 10px;

    }
}