.navigation-wrapper {
    display: flex;
    justify-content: center;
}

.nav-tabs {
    width: 1000px;
    max-width: 1000px !important;
    padding: 20px ;
    list-style: none;
}

ul li {
    color:black !important;
    text-align: center;
}

ul {
    display: flex;
    color:black !important;
}
ul li a.active{
    font-weight: bold;
}
ul li a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
    padding: 10px 0px !important;
}
ul li a:hover{
    color:black;
    font-weight: bold;
}

.icon {
    display: none;
}

@media only screen and (max-width:500px) {
    .icon {
        display: block;
        font-size: 23px !important;
    }
    .icon-text{
        display: none;
    }
    .nav-tabs{
        padding: 0px 40px 15px 20px !important;
    }
    ul li a.active{
        padding:0   ;
        padding-bottom: 0;  
    }
}