.navigation-wrapper {
    display: flex;
    justify-content: center;
}

.nav-tabs {
    width: 1000px;
    max-width: 1000px !important;
    display: flex;
    justify-content: space-between;
    padding: 20px ;
    margin:0px 20px;
}

ul {
    display: flex;
}
ul li a.active{
    background-color: #eef1fe;
    padding:7px 14px;
    border-radius: 4px;
}
ul li a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}
ul li a:hover{
    color:black;
    font-weight: bold;
}

.icon {
    display: none;
}

@media only screen and (max-width:500px) {
    .icon {
        display: block;
        font-size: 23px !important;
    }
    .icon-text{
        display: none;
    }
    .nav-tabs{
        padding: 0px 40px 15px ;
    }
    ul li a.active{
        padding:0   
    }
}