.save-image{
    height:150px;
    width:150px;
}
.image-cont h5{
    padding-top: 10px !important;

}
.image-cont p{
    color:gray
}
.image-cont{
    display: flex;
    justify-content: center;
    padding:20px;
    flex-direction: column;
    align-items: center;
}
.find-btn{
    padding:7px 30px;
    border: none;
    border-radius: 10px;
    background-color:  #0000FF;
    color:white;
    font-weight: 600;
}