.sidebar-wrapper {
    margin: 20px 0px;
    padding: 30px;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 0px;
}

.home-icon,
.save-icon,
.applied-icon,
.message-icon {
    font-size: 30px;
    font-weight: lighter;
}

.sidebar a:hover {
    background-color: #f5f5f5;
}

.sidebar .active {
    background-color: #f5f5f5;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.home-wrapper,
.save-wrapper,
.applied-wrapper,
.message-wrapper {
    text-align: center;
    margin: 0
}

.home-text {
    font-size: 15px;
}

@media screen and (max-width: 700px) {
    .sidebar-wrapper {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0%;
    }

    .sidebar {
        display: flex;
        justify-content: space-around;
    }

    .home-wrapper,
    .save-wrapper,
    .applied-wrapper,
    .message-wrapper {
        padding: 0px 25px;
    }

}